@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  @apply bg-slate-800
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .card {
    @apply bg-slate-200 text-black dark:bg-slate-700 dark:text-white shadow-2xl rounded-lg max-w-fit
  }

  .card-head {
    @apply bg-slate-300 text-black dark:bg-slate-900 dark:text-white p-3  w-full rounded-t-xl
  }

  .card-body {
    @apply p-3
  }

  .card-footer {
    @apply bg-slate-300 text-black dark:bg-slate-900 dark:text-slate-300 p-3  w-full rounded-b-xl
  }
}

